@import './color.less';

.content-style() {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 0;
  background: @bgCard;
  border-radius: 2px;
  flex-direction: column;
}

.content-move-style() {
  margin-top: -40px !important;
  transition: margin-top @durationSlow @easeOutStrong;
}
