@import '../public/header_background.less';

.header-body-background {
  .header-background();
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100%;
  }
}
